.announcementCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 5px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header > .tags {
  flex: 1;
}

.header > .date {
  text-align: right;
}

.header > .title {
  flex-basis: 100%;
  margin: 10px 0;
  font-weight: 400;
}

.body {
  background-color: #eee6;
  padding: 0 10px;
  margin: 0 -10px;
}

.body img {
  display: block;
  margin: auto;
  width: auto;
  max-width: 600px;
  max-height: 50vh;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}

.body p,
.body li,
.body ul {
  font-size: 0.875rem;
  font-weight: 300;
}

.body u {
  text-decoration-color: darksalmon;
  text-decoration-thickness: 2px;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  color: #4c555a;
  font-weight: 500;
}

.footer {
  display: flex;
  padding-top: 5px;
}

.footer > button {
  text-transform: initial;
}
